@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
    display: none;
}

.group:hover .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #1f2937; /* Warna gelap */
    padding: 0.5rem;
    border-radius: 0.375rem;
    z-index: 50; /* Pastikan dropdown ada di atas */
    min-width: 150px;
}

@media (max-width: 768px) {
    .dropdown-menu {
        position: static;
        display: block;
    }
}

.hidden {
    display: none;
}
.fixed {
    position: fixed;
}
.bg-black {
    background-color: rgba(0, 0, 0, 0.5);
}
